# .gitignore
.env
infrastructure/.terraform.lock.hcl
infrastructure/.terraform
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup
.vscode
.github/.DS_Store
frontend/node_modules
infrastructure/bootstrap/.terraform.lock.hcl
infrastructure/bootstrap/.terraform
infrastructure/bootstrap/terraform.tfstate
infrastructure/bootstrap/terraform.tfstate.backup
infrastructure/script